body { line-height: 140%; 
       margin:0; border:0; padding:0
}

div#centerpage
{  margin-left: auto; margin-right: auto; 
   width: 95%;
   border: 2px solid darkblue; 
   border-radius: 16px;
   overflow-x: hidden;
}

header.banner 
{  background-color: #000;
}

header.banner > section.logo
{  font-size: xx-large;
   font-weight: bold;
   height: 50px;
   padding-top: 20px; 
   align-text:center;
   color:red;
}

.center 
{   display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 50%;
}

header.banner > nav 
{  background-color: darkblue; 
   padding-left: 2em;        
   white-space: nowrap
}

header.banner > nav a:link,
header.banner > nav a:visited
{  text-decoration: none;  
   color: white;
   margin-right: 60px;
}

header.banner > nav a:hover
{  text-decoration: underline; }


section#main
{  
   overflow-y: auto;
   background-color: #def;
}

h1
{
}
#main_page
{
   background-color: #def;
   padding: 1px;
   margin: 1px auto;
}

section#main > article 
{  float: left;
   width: 70%; 
   overflow-y: scroll;
   background-color: #fea;
   padding-left: 1em;
   padding-right: 1em;
}

section#main > aside 
{  float: left; 
   /*overflow: hidden;*/
   padding-left: 0em; 
   width: 20%;
   min-width: 10%;
}

table
{
   border: 2px solid #000000;
}

textarea
{
   width: 100%;
   height: 5em;
   margin: 1.5;
   text-overflow: clip;
   cursor: text;
}

#mylog
{
   width: 100%;
   height: 20em;
   margin: 1.5;
   text-overflow: clip;
   cursor: text;
   background-color: white;
}

th, td {
	padding: 2px 2px 2px 2px;
   border: 1px solid
}
tr:hover
{
   background-color: yellow;
}
.even
{
   color: red;
}